.DS_Store
Thumbs.db
*.log

ai-ec-analytics/__pycache__/
ai-ec-analytics/.venv/
ai-ec-analytics/.mypy_cache/
ai-ec-analytics/images/

backend/target/
backend/.mvn/
backend/mvnw*
backend/*.log
backend/resources/images/

mobile-app/.gradle/
mobile-app/.idea/
mobile-app/app/build/
mobile-app/local.properties
mobile-app/gradle/wrapper/gradle-wrapper.jar
mobile-app/app/src/main/res/mipmap-*/ic_launcher*

.env